﻿<div>
    <div class="tabs-header tabs_background">
        <div class="tabs-header new-tabs">
            <ul style="text-align:center !important; background-color:#0f6860;">
                <li class="active">
                    <a href="javascript:;">Varients</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="row popup_fonts ml-0 mr-0">

                <div class="col-lg-12" style="max-height:284px; overflow:scroll;">
                   
                </div>

                <div class="row-fluid">
                    <div class="col-lg-12 text-right mb-10">
                        <button class="btn btn-danger Btn-success_Add" ng-click="cancel('cancel')">Cancel</button>
                        <button class="btn btn-success Btn-success_Add" ng-click="cancel('ok')">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 4px 2px;
        vertical-align: middle;
        text-align: center;
    }
</style>