.inspir-upload > i.ISupload-img {
    background-image: url('../images/upload-image.png');
    background-repeat: no-repeat;
    background-position: center;
    display: table-cell;
    width: 60px;
    height: 60px;
    margin: auto auto;
    vertical-align: middle;
}

.file-uptext i.upload-insp {
    background-image: url('../images/upload.png');
    background-repeat: no-repeat;
    background-position: center;
}

.inspir-upload {
    border: 1px solid #e3e4e5;
    display: table;
    height: 139px;
    width: 100%;
    vertical-align: middle;
    position: relative;
    margin: auto auto;
    border-radius: 10px;
}

    .inspir-upload > img {
        width: 100%;
        padding: 10px;
        height: 172px;
        object-fit: cover;
        object-position: center;
    }

.file-uptext i {
    color: #235377;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

    .file-uptext i.error-insp {
        background-image: url('../images/error.png');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 20px;
        margin-top: 6px;
        cursor: pointer;
    }

.file-uptext i {
    color: #235377;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

a:hover {
    cursor: pointer;
}
