﻿
<div ng-controller="ParentCtrl">
    <div id="wrapper">
        <div class="pt-0 category-product-area home-v2 mb-10 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="category-menu adminclass">
                            <ul class="nav nav-tabs">
                                <li ng-class="varienttab == 1 ?'active':''" ng-click="varienttab = 1">
                                    <a>Add Products & Variants</a>
                                </li>
                                <li ng-class="varienttab == 3 ?'active':''" ng-click="varienttab = 3">
                                    <a>Varients List</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid home-v2-pd">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div class="tab-pane" ng-if="varienttab == 1" ng-class="varienttab == 1 ?'active':''">
                                <div class="row">
                                    <div class="col-lg-12 mt-0">
                                        <h3 class="page-header m-0">Add Products & Varients</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-8 col-xs-12">
                                        <div class="panel panel-default">
                                            <form name="VarientForm">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <div class="form-group">
                                                                <label>Select Category<span style="color:red;">*</span></label>
                                                                <select class="form-control"
                                                                        ng-model="selectedCategory"
                                                                        ng-options="option.CategoryName for option in MasterCategories"
                                                                        name="Category"
                                                                        ng-change="ChangeCategory(selectedCategory)"
                                                                        required></select>
                                                                <!--<a class="fontAnchor" ng-click="showAddCategoryPopup = true"> Add New Category</a>-->

                                                                <a class="fontAnchor" ng-click="showCategoryPopup()"> Add New Category</a>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <div class="form-group">
                                                                <label>Search a Product <span style="color:red;">*</span></label>
                                                                <!--<input type="text" class="form-control" ng-disabled="selectedCategory==''" ng-model="productName" />-->

                                                                <input type="text"
                                                                       class="form-control pad-r-box"
                                                                       placeholder=""
                                                                       maxlength="100"
                                                                       name="Product"
                                                                       ng-disabled="selectedCategory==''"
                                                                       ng-model="productObj"
                                                                       typeahead-min-length="1"
                                                                       ng-change="changeProduct(productObj)"
                                                                       uib-typeahead="item as item.ProductName for item in GetProducts($viewValue)"
                                                                       typeahead-on-select="selectProduct(productObj)"
                                                                       required />
                                                                <a class="fontAnchor" ng-click="clickToShowAddProduct()"> Add New Product</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 mt-0">
                                                            <div class="form-group">
                                                                <label>Select Size <span style="color:red;">*</span></label>
                                                                <select class="form-control"
                                                                        ng-model="selectedSize"
                                                                        ng-options="option.Sizename for option in MasterSizes"
                                                                        ng-change="ChangeSize(selectedSize)"
                                                                        required
                                                                        name="Size"></select>
                                                                <!--<a class="fontAnchor" ng-click="showAddSizePopup = true">Add New Size</a>-->
                                                                <a class="fontAnchor" ng-click="showSizePopup()">Add New Size</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 mt-0">
                                                            <div class="form-group">
                                                                <label>Select Color <span style="color:red;">*</span></label>
                                                                <select class="form-control"
                                                                        ng-model="selectedColor"
                                                                        ng-options="option.ColourName for option in MasterColors"
                                                                        ng-change="ChangeColour(selectedColor)"
                                                                        required
                                                                        name="Color"></select>
                                                                <!--<a href="" class="fontAnchor" ng-click="showAddColorPopup = true">Add New Color</a>-->
                                                                <a href="" class="fontAnchor" ng-click="showColorPopup()">Add New Color</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 mt-0">
                                                            <div class="form-group">
                                                                <label>Price <span style="color:red;">*</span></label>
                                                                <input type="text" ng-model="VarientObj.Stock.MRP" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 mt-0">
                                                            <div class="form-group">
                                                                <label>Discount Amount</label>
                                                                <input type="text" ng-model="VarientObj.Stock.DiscountValue" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>                                                   
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="inspir-upload" ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[0])" ngf-accept="'image/*'" ngf-max-size="10MB">
                                                    <i ng-show="VarientObj.Stock.ImageUrl[0].Url == ''" class="ISupload-img"></i>
                                                    <img class="img-fluid" ng-show="VarientObj.Stock.ImageUrl[0].Url != ''" ng-src="{{VarientObj.Stock.ImageUrl[0].Url}}">
                                                </div>
                                                <div class="file-uptext">
                                                    <i class="upload-insp" ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[0])" ngf-accept="'image/*'" ngf-max-size="10MB"></i>
                                                    <span ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[0])" ngf-accept="'image/*'" ngf-max-size="10MB" ng-if="VarientObj.Stock.ProductVarientId == null">Upload Picture </span>
                                                    <i class="error-insp" ng-click="RemovePicture(VarientObj.Stock.ImageUrl[0])" ng-hide="VarientObj.Stock.ImageUrl[0].Url === ''"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="inspir-upload" ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[1])" ngf-accept="'image/*'" ngf-max-size="10MB">
                                                    <i ng-show="VarientObj.Stock.ImageUrl[1].Url == ''" class="ISupload-img"></i>
                                                    <img class="img-fluid" ng-show="VarientObj.Stock.ImageUrl[1].Url != ''" ng-src="{{VarientObj.Stock.ImageUrl[1].Url}}">
                                                </div>
                                                <div class="file-uptext">
                                                    <i class="upload-insp" ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[1])" ngf-accept="'image/*'" ngf-max-size="10MB"></i>
                                                    <span ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[1])" ngf-accept="'image/*'" ngf-max-size="10MB" ng-if="VarientObj.Stock.ProductVarientId == null">Upload Picture </span>
                                                    <i class="error-insp" ng-click="RemovePicture(VarientObj.Stock.ImageUrl[1])" ng-hide="VarientObj.Stock.ImageUrl[1].Url === ''"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="inspir-upload" ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[2])" ngf-accept="'image/*'" ngf-max-size="10MB">
                                                    <i ng-show="VarientObj.Stock.ImageUrl[2].Url == ''" class="ISupload-img"></i>
                                                    <img class="img-fluid" ng-show="VarientObj.Stock.ImageUrl[2].Url != ''" ng-src="{{VarientObj.Stock.ImageUrl[2].Url}}">
                                                </div>
                                                <div class="file-uptext">
                                                    <i class="upload-insp" ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[2])" ngf-accept="'image/*'" ngf-max-size="10MB"></i>
                                                    <span ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[2])" ngf-accept="'image/*'" ngf-max-size="10MB" ng-if="VarientObj.Stock.ProductVarientId == null">Upload Picture </span>
                                                    <i class="error-insp" ng-click="RemovePicture(VarientObj.Stock.ImageUrl[2])" ng-hide="VarientObj.Stock.ImageUrl[2].Url === ''"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="inspir-upload" ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[3])" ngf-accept="'image/*'" ngf-max-size="2MB">
                                                    <i ng-show="VarientObj.Stock.ImageUrl[3].Url == ''" class="ISupload-img"></i>
                                                    <img class="img-fluid" ng-show="VarientObj.Stock.ImageUrl[3].Url != ''" ng-src="{{VarientObj.Stock.ImageUrl[3].Url}}">
                                                </div>
                                                <div class="file-uptext">
                                                    <i class="upload-insp" ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[3])" ngf-accept="'image/*'" ngf-max-size="10MB"></i>
                                                    <span ngf-select="" ng-model="files" ngf-change="upload($files,VarientObj.Stock.ImageUrl[3])" ngf-accept="'image/*'" ngf-max-size="10MB" ng-if="VarientObj.Stock.ProductVarientId == null">Upload Picture </span>
                                                    <i class="error-insp" ng-click="RemovePicture(VarientObj.Stock.ImageUrl[3])" ng-hide="VarientObj.Stock.ImageUrl[3].Url === ''"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-right">
                                        <button type="button" ng-disabled="VarientForm.$invalid" class="btn btn-success" ng-click="AddVarient()" style="padding-left: 70px; padding-right: 70px;"> Save</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" ng-if="varienttab == 2" ng-class="varienttab == 2 ?'active':''">
                                <div class="row">
                                    <div class="col-lg-12 mt-0">
                                        <h1 class="page-header m-0">Items List</h1>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12 mt-0">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="50">Sno.</th>
                                                                        <th>
                                                                            Image
                                                                        </th>
                                                                        <th>Product Name</th>
                                                                        <th>Price</th>
                                                                        <th>Category</th>
                                                                        <th class="text-center">Status</th>
                                                                    </tr>
                                                                    <tr ng-repeat="i in [1,2,3,4,5]">
                                                                        <td>
                                                                            {{$index}}
                                                                        </td>
                                                                        <td width="70">
                                                                            <img width="50" height="50" src="../images/3.jpg" />
                                                                        </td>
                                                                        <td>
                                                                            Chicken Biryani
                                                                        </td>
                                                                        <td>10,000.00</td>
                                                                        <td>
                                                                            Non Veg
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <span>
                                                                                <a href=""><i class="fas fa-edit text-success fa-lg"></i></a>
                                                                                &nbsp; &nbsp;
                                                                                <a href=""><i class="fas fa-trash-alt text-danger fa-lg"></i></a>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 mt-0 text-right">
                                                        <ul class="pagination">
                                                            <li><a href="#">Pirst</a></li>
                                                            <li><a href="#">Previous</a></li>
                                                            <li><a href="#">1</a></li>
                                                            <li><a href="#">2</a></li>
                                                            <li><a href="#">3</a></li>
                                                            <li><a href="#">4</a></li>
                                                            <li><a href="#">5</a></li>
                                                            <li><a href="#">Next</a></li>
                                                            <li><a href="#">last</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" ng-if="varienttab == 3" ng-class="varienttab == 3 ?'active':''">
                                <div class="row">
                                    <div class="col-lg-12 mt-0">
                                        <h1 class="page-header m-0">Varients List</h1>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12 mt-0">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="50">Sno.</th>
                                                                        <th>Image</th>
                                                                        <th>Product Name</th>
                                                                        <th>Size</th>
                                                                        <th>Color</th>
                                                                        <th class="text-center">Status</th>
                                                                    </tr>
                                                                    <tr ng-repeat="varient in VarientList">
                                                                        <td ng-bind="$index+1"></td>
                                                                        <td width="70">
                                                                            <img width="50" height="50" ng-src="{{varient.SelectedUrl}}" />
                                                                        </td>
                                                                        <td ng-bind="varient.ProductName"></td>
                                                                        <td ng-bind="varient.Sizename"></td>
                                                                        <td ng-bind="varient.ColourName"></td>
                                                                        <td class="text-center">
                                                                            <span>
                                                                                <a ng-click="DeleteVarient(varient)">
                                                                                    <i class="fas fa-trash-alt text-danger fa-lg"></i>
                                                                                </a>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-lg-12 mt-0 text-right">
                                                        <uib-pagination total-items="VarientCount"
                                                                        ng-model="VarientSearch.PageNo"
                                                                        ng-change="changeVareintPage(VarientSearch.PageNo)"
                                                                        ng-show="VarientCount > 0"
                                                                        items-per-page="VarientSearch.PageSize"
                                                                        class="pull-right pagination-sm mt-0 mb-10"
                                                                        boundary-link-numbers="true"
                                                                        boundary-links="true"
                                                                        max-size="maxsize"
                                                                        rotate="false">
                                                        </uib-pagination>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-overlay" ng-show="showAddCategoryPopup"></div>
    <div class="modal-common" ng-show="showAddCategoryPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="login-form">
                        <button type="button" class="close" ng-click="closeAddCategoryPopup()">&times;</button>
                        <h2 class="text-center mt-0">Add category</h2>
                        <hr>
                        <div class="form" style="padding: 25px;">
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Category Name</label>
                                        <input type="text" class="form-control" name="CategoryName12123221" ng-model="categoryName">
                                    </div>
                                    <div class="col-sm-12 text-center mt-0">
                                        <a href="" class="btn btn-danger send pl-30 pr-30" ng-click="closeAddCategoryPopup()">Close </a>
                                        <a href="" class="btn btn-success send pl-30 pr-30" ng-click="AddCategory(categoryName)">Add </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-overlay" ng-show="showAddProductPopup"></div>
    <div class="modal-common" ng-show="showAddProductPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="login-form">
                        <button type="button" class="close" ng-click="closeAddProductPopup()">&times;</button>
                        <h2 class="text-center mt-0">Add Product</h2>
                        <hr>
                        <div class="form" style="padding: 25px;">
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Prodoct Name</label>
                                        <input type="text" class="form-control" name="ProductName1212322245" ng-model="productName">
                                    </div>
                                    <div class="col-sm-12">
                                        <label>Prodoct Description</label>
                                        <textarea class="form-control" rows="3" name="Productdescc1222245" ng-model="productDescription"></textarea>
                                    </div>
                                    <div class="col-sm-12 text-center mt-0">
                                        <a href="" class="btn btn-danger send pl-30 pr-30" ng-click="closeAddProductPopup()">Close </a>
                                        <a href="" class="btn btn-success send pl-30 pr-30" ng-click="AddProduct()">Add </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay" ng-show="showAddColorPopup"></div>
    <div class="modal-common" ng-show="showAddColorPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="login-form">
                        <button type="button" class="close" ng-click="closeAddColorPopup()">&times;</button>
                        <h2 class="text-center mt-0">Add Color</h2>
                        <hr>
                        <div class="form" style="padding: 25px;">
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Color Name</label>
                                        <input type="text" class="form-control" name="colorName12123221" ng-model="colorName">
                                    </div>
                                    <div class="col-sm-12 text-center mt-0">
                                        <a href="" class="btn btn-danger send pl-30 pr-30" ng-click="closeAddColorPopup()">Close </a>
                                        <a href="" class="btn btn-success send pl-30 pr-30" ng-click="AddColor(colorName)">Add </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-overlay" ng-show="showAddSizePopup"></div>
    <div class="modal-common" ng-show="showAddSizePopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="login-form">
                        <button type="button" class="close" ng-click="closeAddSizePopup()">&times;</button>
                        <h2 class="text-center mt-0">Add Size</h2>
                        <hr>
                        <div class="form" style="padding: 25px;">
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Size Name</label>
                                        <input type="text" class="form-control" name="colorName12123221" ng-model="sizeName">
                                    </div>
                                    <div class="col-sm-12 text-center mt-0">
                                        <a href="" class="btn btn-danger send pl-30 pr-30" ng-click="closeAddSizePopup()">Close </a>
                                        <a href="" class="btn btn-success send pl-30 pr-30" ng-click="AddSize(sizeName)">Add </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .fontAnchor {
        font-weight: 600;
        color: orange;
        font-size: 13px;
    }

    .adminclass ul li.active:after {
        background: darkorange !important;
        bottom: 5px !important;
        height: 4px !important;
    }
</style>
