﻿<!-- section -->
<!--breadcumb start here-->
<div class="background-image" style="background-color: #ddd">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Contact Us</h2>
            </div>
        </div>
    </div>
</div>
<!--breadcumb end here-->
<!-- contact us section -->
<div class="s">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-form-area contact-space-right">
                    <h3>Get in touch</h3>
                    <p>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.</p>
                    <!-- form area start here -->
                    <div class="form-area">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form">
                                    <form name="Enquiry.form">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <label for="name">Name*</label>
                                                <input type="text" id="name" name="name" class="form-control" ng-model="Enquiry.Name" required />
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <label for="email">Email*<span>(Will not be published)</span></label>
                                                <input type="text" name="email" id="email" class="form-control" ng-model="Enquiry.Email" required />
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <label for="phone">Phone</label>
                                                <input type="text" name="phone" id="phone" class="form-control" ng-model="Enquiry.Mobile" />
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <label for="reason">Reason for Contact</label>
                                                <input type="text" name="reason" id="reason" class="form-control" ng-model="Enquiry.Reason" />
                                            </div>
                                            <!--<div class="col-sm-12 col-xs-12">
                                                <label for="comment">Comment*</label>
                                                <textarea class="form-control" id="comment" rows="5"></textarea>
                                            </div>-->
                                            <div class="col-sm-4">
                                                <!--<a class="btn btn-default send">Contact Us <i class="fa fa-caret-right"></i></a>-->

                                                <button class="btn btn-default send" ng-click="SendEnquiry(Enquiry.form)" ng-disabled="Enquiry.form.$invalid">

                                                    Contact Us <i class="fa fa-caret-right"></i>

                                                </button>


                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- form area end here -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="address-area">
                    <h3>Address</h3>
                    <div class="single-address">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Ahmedabad <br>Gujarath</span></p>
                    </div>
                    <h3>Phone &amp; fax</h3>
                    <div class="single-address">
                        <p><i class="fa fa-phone" aria-hidden="true"></i> <span>Ph: +91 9726782622</span> </p>
                        <!--<p><i class="fa fa-fax" aria-hidden="true"></i> <span>Fax: (555) - 6542 430</span> </p>-->
                    </div>
                    <h3>Email</h3>
                    <div class="single-address">
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>festivmall@yahoo.com</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- contact us End section -->
<!-- footer start here -->
