﻿<div class="footer-bottom-area home-v2">
    <div class="container-fluid home-v2-pd">
        <div class="row">
            <div class="col-sm-6">
                <div class="copyright">
                    <p> ©2018 FESTIV MALL.</p>
                    <ul>
                        <li><a ng-click="GoToShop(4)">Shop</a></li>
                        <li><a ng-click="GoToContactUs(3)">contact</a></li>
                        <li>
                            <a target="_blank" href="https://www.appdest.com/">
                                <img src="https://www.appdest.com/img/png-logo.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <div class="social-media">
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/Festive-Mall-1779449422122596/">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <!--<li><a target="_blank" href="#"><i class="fab fa-twitter-square"></i></a></li>-->
                        <!--<li><a target="_blank" href="#"><i class="fab fa-google-plus-square"></i></a></li>-->

                        <li>
                            <a target="_blank" href="https://www.instagram.com/fest_mall/?utm_source=ig_profile_share&igshid=1e9z0u78wqcdz">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>