﻿<div class="header-area5">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="site_logo visible-sm visible-xs">
                    <a class="navbar-brand" ng-click="GoToShop(4)" style="cursor:pointer;">
                        <img width="70" src="../images/logofestive.png" alt="Logo" />
                    </a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="row">
                    <div class="col-md-4 text-left">
                        <ul class="nav navbar-nav">
                            <li ng-class="headerActiveTab === 1?'active':''"><a ng-click="GoToHome(1)">Home</a></li>
                            <li ng-class="headerActiveTab === 2?'active':''"><a ng-click="GoToAboutUs(2)">AboutUs</a></li>
                            <li ng-class="headerActiveTab === 3?'active':''"><a ng-click="GoToContactUs(3)">ContactUs</a></li>
                            <li ng-class="headerActiveTab === 4?'active':''"><a ng-click="GoToShop(4)">Shop</a></li>
                            <li ng-class="headerActiveTab === 5?'active':''" ng-if="showAdminTab"><a ng-click="GoToAdmin(5)">Admin</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center hidden-sm hidden-xs">
                        <ul class="middle-menu">
                            <li>
                                <a ng-click="GoToShop(4)" style="cursor:pointer;">
                                    <img width="70" src="../images/logofestive.png" class="" alt="Logo" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">

                            <li class="location" ng-if="showLoginBtn"><a ng-click="GoToLogin()"> Login </a></li>
                            <li class="location" ng-if="showLogoutBtn"><a ng-click="NavToLogout()"><span style="color:red;">Welcome , Admin ....</span> LogOut </a></li>
                            <li class="cart-icon">
                                <div class="minicart-page-area">
                                    <h3> <i class="fa fa-check" aria-hidden="true"></i> This item has been added to your cart</h3>
                                    <div class="items-list">
                                        <ul>
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="single-product.html">



                                                            <img src="../images/shop/17.jpg" />

                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">
                                                            <a href="single-product.html">Coconut Tree Print Short Hawaiian Shirt </a>
                                                        </h4>
                                                        <div class="rating">
                                                            <ul>
                                                                <li> <span>SIZE</span> : S</li>
                                                                <li> <span>QTY</span> : 1</li>
                                                            </ul>
                                                        </div>
                                                        <span>$23.99</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <h2>TOTAL  :  <span> $60.98</span></h2>
                                    <div class="form-inline">
                                        <ul>
                                            <li><a href="checkout.html" class="btn btn-lg update">Proceed to Checkout <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                                            <li><a href="cart.html" class="btn btn-lg checkout">SEE CART <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- minicart area End section -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</div>
<div class="modal-overlay" ng-show="showLoginPopup"></div>
<div class="modal-common" ng-show="showLoginPopup">
    <div class="modal-dialog" style="width: 500px;">

        <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #468a6c">
                <button type="button" class="close" ng-click="closeLoginPopup()">&times;</button>
                <h2 class="text-center mt-0" style="color: #fff;">Login</h2>
            </div>
            <div class="modal-body">
                <div class="login-form">
                    <div class="form" style="padding: 25px;">
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="userName121221" ng-model="loginObject.userName">
                                </div>
                                <div class="col-sm-12">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password121221" ng-model="loginObject.passWord">
                                </div>
                                <div class="col-sm-12 mt-0">
                                    <div class="checkbox">
                                        <label class="pl-0">
                                            <input type="checkbox" checked="checked" value="" />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Remeber Me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center mt-0">
                                    <a href="" class="btn btn-danger send pl-30 pr-30" ng-click="closeLoginPopup()">Close </a>
                                    <a href="" class="btn btn-success send pl-30 pr-30" ng-click="validateLogin()">Log in </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .logo {
        width: 25%;
    }

    .header-area5 .navbar .middle-menu {
        margin-top: 12px !important;
    }


    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 1;
    }

    .modal-common {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .bg-white {
        background-color: #fff !important;
    }

    .modal-common-dialog {
        background-color: transparent;
        /*background-color: #fff;*/
        width: 600px;
        margin: 70px auto 20px;
        top: 25px;
        position: relative;
        /*padding: 20px;*/
        border: none;
        border-radius: 13px;
    }
</style>