﻿<!--<style>
    .item img {
        width: 100%;
    }
</style>

<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item"><img src="../testfolder/fullimage1.jpg" alt="The Last of us"></div>
    <div class="item"><img src="../testfolder/fullimage2.jpg" alt="GTA V"></div>
    <div class="item"><img src="../testfolder/fullimage3.jpg" alt="Mirror Edge"></div>
</div>-->
<!--<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({           
            pagination: false,
            items: 1,
            itemsDesktop: false,
            itemsDesktopSmall: false,
            itemsTablet: false,
            itemsMobile: false,
            autoPlay: true,
            navigation: false
        });
    });
</script>-->
<!--<div class="slider-five-area">
    <div class="slide background-image" data-src="../images/3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Clothes that are as fresh as watermelons</h2>
                        <div class="button">
                            <a href="#">Shop Arivals <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide background-image" data-src="../images/3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="#">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide background-image" data-src="../images/3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="#">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<style>

    #owl-demo .item {
        margin: 3px;
    }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: top;
        }

    .owl-carousel .container {
        position: absolute;
        top: 25%;
        left: 8%;
    }

    .owl-carousel .item {
        position: relative;
    }
</style>

<div id="owl-demo" class="owl-carousel slider-five-area">
    <div class="item slide">
        <img class="lazyOwl" data-src="../images/slider/1.jpg" alt="Lazy Owl Image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Clothes that are as fresh as watermelons</h2>
                        <div class="button">
                            <a ng-click="GoToSingle-shop()">Shop Arivals <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item slide">
        <img class="lazyOwl" data-src="../images/slider/7.jpg" alt="Lazy Owl Image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="item slide">
        <img class="lazyOwl" data-src="../images/slider/2.jpg" alt="Lazy Owl Image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item slide">
        <img class="lazyOwl" data-src="../images/slider/3.jpg" alt="Lazy Owl Image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item slide">
        <img class="lazyOwl" data-src="../images/slider/4.jpg" alt="Lazy Owl Image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item slide">
        <img class="lazyOwl" data-src="../images/slider/5.jpg" alt="Lazy Owl Image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item slide">
        <img class="lazyOwl" data-src="../images/slider/6.jpg" alt="Lazy Owl Image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item slide">
        <img class="lazyOwl" data-src="../images/slider/8.jpg" alt="Lazy Owl Image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="slider-content">
                        <h2>Get exclusive sale offers now</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
</div>

 
 
<!-- End section -->
<!-- section -->
<div class="section pt-0 top-saller-area1 home-v6">
    <div class="container-fluid acurate">
        <div class="row row-normalize no-gutters">
            <div class="col-sm-4 text-center">
                <div class="single-saller background-image" style="background-image: url(../images/category/jewellery.jpg)">
                    <a href="" ng-click="navtoShop(15,'Jewellery')">Jewellery</a>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="single-saller single-saller2 background-image" style="background-image: url(../images/category/mehendi.jpg)">
                    <a href="" ng-click="navtoShop(9,'Mehendi')">Mehendi</a>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="single-saller background-image" style="background-image: url(../images/category/makeup.jpg)">
                    <a href=""  ng-click="navtoShop(10,'Makeup')">Makeup</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- End section -->
<!-- section -->
<div class="section women-category-area pt-0 ">
    <div class="container-fluid home-v3-pd">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="cat-name">For women</h2>
            </div>
            <div class="col-sm-12">
                <div class="row no-gutters row-normalize">
                    <div class="col-sm-4 text-center">
                        <div class="advertise">
                            <div class="image">
                                <img src="../images/ad/1.jpg" alt="">

                              

                            </div>
                            <div class="content">
                                <h3>Womens Wear</h3>
                                <div class="button">
                                    <a href="">Shop Today <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row no-gutters row-normalize">
                            <div class="col-sm-6">
                                <div class="category-single">
                                    <div class="image">
                                        <img src="../images/category/Kurtis.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <h3><a href="" ng-click="navtoShop(4,'Kurtis')">Kurtis</a></h3>
                                    </div>
                                </div>
                                <div class="category-single">
                                    <div class="image">
                                        <img src="../images/category/Anarkalis.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <h3><a href="" ng-click="navtoShop(7,'Anarkalis')">Anarkalis</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="category-single">
                                    <div class="image">
                                        <img src="../images/category/Gagras.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <h3><a href="" ng-click="navtoShop(6,'Gagras')">Gagras</a></h3>
                                    </div>
                                </div>
                                <div class="category-single">
                                    <div class="image">
                                        <img src="../images/category/Frocks.jpg" alt="">
                                    </div>
                                    <div class="content">
                                        <h3><a href="" ng-click="navtoShop(8,'Frocks')">Frocks</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End section -->
<!-- section -->
<div class="section pt-0 pb-0 category-seven-area cat_7_top">
    <div class="container-fluid acurate">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="shop-image">
                    <img src="../images/category/56.jpg" alt="">
                    <div class="title_shop">
                        <h2>Casual spring sale ups</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Dresses <i class="fas fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="products-show">
                    <div class="col-sm-12 text-center">
                        <h3>Sale Promos</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-12">
                            <div class="single-products">
                                <div class="product-top">
                                    <span>Print Dresses</span>
                                    <h3><a href="single-product.html">Butterfly Print Lace Up Slippery Dress - 2xl</a></h3>
                                </div>
                                <div class="image">
                                    <img src="../images/shop/8.jpg" alt="">
                                </div>
                                <div class="overley">
                                    <div class="price">
                                        <ul>
                                            <li>Rs: 48.00 <del>$68.00</del> </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <div class="single-products">
                                <div class="product-top">
                                    <span>Bodycon Dresses</span>
                                    <h3><a href="single-product.html">Skew Collar Drap Bodycon Dress- Black 2xl</a></h3>
                                </div>
                                <div class="image">
                                    <img src="../images/shop/9.jpg" alt="">
                                </div>
                                <div class="overley">
                                    <div class="price">
                                        <ul>
                                            <li>Rs: 48.00 <del>$68.00</del> </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-p-20"></div>
<div class="section pt-0 pb-0 category-seven-area">
    <div class="container-fluid acurate">
        <div class="row">
            <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
                <div class="shop-image">
                    <img src="../images/category/55.jpg" alt="">
                    <div class="title_shop">
                        <h2>Shirt and tops</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Shirts <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="products-show">
                    <div class="col-sm-12 text-center">
                        <h3>Latest arrivals</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-12">
                            <div class="single-products">
                                <div class="product-top">
                                    <span>T-shirts</span>
                                    <h3><a href="single-product.html">Skew Collar Rose Print Long Shirred T-Shirt - Gray </a></h3>
                                </div>
                                <div class="image">
                                    <img src="../images/shop/13.jpg" alt="">
                                </div>
                                <div class="overley">
                                    <div class="price">
                                        <ul>
                                            <li>Rs: 48.00 <del>$68.00</del> </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <div class="single-products">
                                <div class="product-top">
                                    <span>Women's T-shirts</span>
                                    <h3><a href="single-product.html">Skew Collar Racerback Butterfly Print T-Shirt - Purple</a></h3>
                                </div>
                                <div class="image">
                                    <img src="../images/shop/40.png" alt="">
                                </div>
                                <div class="overley">
                                    <div class="price">
                                        <ul>
                                            <li>Rs: 48.00 <del>$68.00</del> </li>                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 hidden-sm hidden-xs">
                <div class="shop-image">
                    <img src="../images/category/55.jpg" alt="">
                    <div class="title_shop">
                        <h2>Shirt and tops</h2>
                        <div class="button">
                            <a href="" ng-click="navtoShop(null,'All')">Shop Shirts<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End section -->
<!-- section -->
<div class="section collection-area home-v5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>Meet our collections </h2>
                    <p>Discover the latest fashion and trends in menswear & womenswear this season's collection of clothes,</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 text-center">
                <div class="single-collection">
                    <div class="image">
                        <img src="../images/category/kidswear.jpg" />
                    </div>
                    <div class="content">
                        <h4>Kidswear</h4>
                        <a href="" ng-click="navtoShop(13,'Kids Ware')">Shop Kidswear<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <div class="single-collection">
                    <div class="image">
                        <img src="../images/category/Bracelets.jpg" />
                    </div>
                    <div class="content">
                        <h4>Bracelets</h4>
                        <a ng-click="navtoShop(16,'Bracelets')">Shop Bracelets<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <div class="single-collection">
                    <div class="image">
                        <img src="../images/category/Womenswear.jpg" />
                    </div>
                    <div class="content">
                        <h4>Womenswear</h4>
                        <a href="" ng-click="navtoShop(null,'All')">Shop Womenswear<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End section -->
<div class="footer-five-top-area">
    <div class="container">
        <div class="row row-normalize no-gutters">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p><i class="fas fa-shipping-fast"></i> Free shipping</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p><i class="fas fa-exchange-alt"></i> Easy return & exchanges</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Satisfaction guaranteed</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <p><i class="fa fa-heart" aria-hidden="true"></i> Large variety of products</p>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            items: 1,
            lazyLoad: true,
            navigation: true,
            loop: true,
            autoPlay: 3000,
            navigation: false,
        });
    });
</script>



