﻿<!--breadcumb start here-->
<div class="background-image" style="background-color: #ddd">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Account</h2>
                <ul>
                    <li><a href="index.html"> Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Login or Register</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb end here--><!-- End section -->
<!-- section -->
<div class="section login-register-form-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="login-form">
                    <h2>I am Already a Client</h2>
                    <hr>
                    <div class="form">
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Email</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-12">
                                    <label>Password</label>
                                    <input type="text" class="form-control">
                                    <div class="forgotps"><a href="#">FORGOT YOUR PASSWOD ?</a></div>
                                </div>
                                <div class="col-sm-12 m-0">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked="checked" value="" />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Remeber Me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <a href="#" class="btn btn-default send">Log in <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="login-form">
                    <h2>I am New</h2>
                    <hr>
                    <div class="form">
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Email</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-12">
                                    <label>Password</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-12">
                                    <label>New Password</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            I accept the <a href="#">Terms &amp; Conditions</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <a href="#" class="btn btn-default send">Register <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End section -->