﻿<div class="background-image" style="background-color: #ddd">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Shop</h2>
                <ul>
                    <li><a href="index.html"> Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section category-product-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12">

                <div class="sidebar-area">
                    <div class="widget">
                        <h2 class="widget-title">Categories</h2>
                        <div class="category">
                            <ul>

                                <li ng-repeat="cat in Categories">
                                    <a ng-class="cat.IsActive ?'active':''" ng-click="ChangeCatgorie(cat)" ng-bind="cat.CategoryName"></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="shop-topbar">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="category">
                                        <ul>
                                            <li><a href="">{{VarientSearch.CategoryName}} </a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--<div class="col-sm-6 text-right">
                                    <div class="showing-result">
                                        <ul>
                                            <li>Sort :</li>
                                            <li class="seclec-box">
                                                <form>
                                                    <div class="form-group">
                                                        <select id="disabledSelect" class="form-control">
                                                            <option>Popularity</option>
                                                            <option>High to Low</option>
                                                            <option>Low to High</option>
                                                            <option>A to Z</option>
                                                            <option>Z to A</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="item in StockList">
                        <div class="single-products">
                            <div class="product-top">
                                <span ng-bind="item.CategoryName"></span>
                                <h3><a ng-bind="item.ProductName"></a></h3>
                            </div>
                            <div class="image">
                                <img ng-click="openImages(item)" ng-src="{{item.Images[0].ImageUrl}}" alt="">
                            </div>
                            <div class="overley">
                                <div class="price">
                                    <ul>
                                        <li style="font-size:14px;">Rs {{item.DiscountValue | number:2}}<del>Rs {{item.MRP | number:2}}</del> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:50px;">
                    <div class="col-lg-12 mt-0 text-right">
                        <uib-pagination total-items="StockCount"
                                        ng-model="VarientSearch.PageNo"
                                        ng-change="changeStockPage(VarientSearch.PageNo)"
                                        ng-show="StockCount > 0"
                                        items-per-page="VarientSearch.PageSize"
                                        class="pull-right pagination-sm mt-0 mb-10"
                                        boundary-link-numbers="true"
                                        boundary-links="true"
                                        max-size="maxsize"
                                        rotate="false">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>