﻿<!--breadcumb start here-->
<div class="background-image" style="background-color: #ddd">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Shop</h2>
                <ul>
                    <li><a href="index.html"> Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="shop.html"> Shop </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Single Product</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb end here--><!-- End section -->
<!-- section -->
<div class="section pb-0 single-product-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="property-slider">
                    <div class="gallery clearfix">
                        <div class="pics clearfix">
                            <div class="thumbs">
                                <div class="preview">
                                    <a href="#" class="selected" data-full="../images/property-gellary/1.1.png" data-title="Property Title Here"> <img src="../images/property-gellary/1.png" alt="" /> </a>
                                </div>
                                <div class="preview">
                                    <a href="#" data-full="../images/property-gellary/1.2.png" data-title="Property Title Here"> <img src="../images/property-gellary/2.png" alt="" /> </a>
                                </div>
                                <div class="preview">
                                    <a href="#" data-full="../images/property-gellary/1.3.png" data-title="Property Title Here"> <img src="../images/property-gellary/3.png" alt="" /> </a>
                                </div>
                                <div class="preview">
                                    <a href="#" data-full="../images/property-gellary/1.5.png" data-title="Property Title Here"> <img src="../images/property-gellary/5.png" alt="" /> </a>
                                </div>
                                <div class="preview">
                                    <a href="#" data-full="assets/images/property-gellary/1.6.png" data-title="Property Title Here"> <img src="assets/images/property-gellary/6.png" alt="" /> </a>
                                </div>
                                <div class="preview">
                                    <a href="#" data-full="../images/property-gellary/1.4.png" data-title="Property Title Here"> <img src="../images/property-gellary/4.png" alt="" /> </a>
                                </div>
                            </div>
                            <a href="../images/property-gellary/1.1.png" class="full" title="Property Title Here">
                                <!-- first image is viewable to start -->
                                <img src="../images/property-gellary/1.1.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="product-details">
                    <h3>Butterfly Print Lace Up Slippery Dress - 2xl</h3>
                    <span>REF #32454321</span>
                    <div class="rating">
                        <ul>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><span>(20)</span></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="price">
                        <p>$22.99 <span>|</span><del> $39.00</del></p>
                    </div>
                    <div class="color">
                        <p>Colour:   <span>Floral Pink</span></p>
                        <ul>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                            <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                    <div class="size">
                        <h4>Select Size</h4>
                        <ul>
                            <li><a href="#">XL</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">XS</a></li>
                        </ul>
                    </div>
                    <div class="card-list">
                        <ul>
                            <li><a href="#"> Call: 999 xxxx xxxx </a></li>
                            <li><a href="#"> Contact us</a></li>
                        </ul>
                    </div>
                    <div class="informations">
                        <h2>Product Information</h2>
                        <ul>
                            <li>COMPOSITION: </li>
                            <li>EXTERIOR</li>
                            <li>100% viscose</li>
                            <li>LINING</li>
                            <li>100% polyester</li>
                        </ul>
                    </div>
                    <div class="informations">
                        <h2>Deliveries & Returns</h2>
                        <ul>
                            <li>DELIVARY: </li>
                            <li>Collection in store FREE</li>
                            <li>In the store of your choice in 2-4 working days.</li>
                            <li>Returns:</li>
                            <li>Returns in store FREE</li>
                            <li>You can return items to any store in the country where the purchase was made.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->

    </div>

</div><!-- End section -->
<!-- section -->
<div class="section clothing-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Complete the look</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2-5 col-sm-4 col-xs-12">
                <div class="single-products">
                    <div class="product-top">
                        <span>Satchel Bag</span>
                        <h3><a href="single-product.html">Lavie Enmesh Women's Handbag (Yellow)</a></h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><span>(20)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/images/shop/8.jpg" alt="">
                        <span>sale</span>
                    </div>
                    <div class="overley">
                        <div class="price">
                            <ul>
                                <li>$48.00 <del>$68.00</del> </li>
                                <li><a href="#"><i class="flaticon-business"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2-5 col-sm-4 col-xs-12">
                <div class="single-products">
                    <div class="product-top">
                        <span>Satchel Bag</span>
                        <h3><a href="single-product.html">Lavie Enmesh Women's Handbag (Yellow)</a></h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><span>(20)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/images/shop/3.jpg" alt="">
                        <span>sale</span>
                    </div>
                    <div class="overley">
                        <div class="price">
                            <ul>
                                <li>$48.00 <del>$68.00</del> </li>
                                <li><a href="#"><i class="flaticon-business"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2-5 col-sm-4 col-xs-12">
                <div class="single-products">
                    <div class="product-top">
                        <span>Satchel Bag</span>
                        <h3><a href="single-product.html">Lavie Enmesh Women's Handbag (Yellow)</a></h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><span>(20)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/images/shop/10.jpg" alt="">
                        <span>sale</span>
                    </div>
                    <div class="overley">
                        <div class="price">
                            <ul>
                                <li>$48.00 <del>$68.00</del> </li>
                                <li><a href="#"><i class="flaticon-business"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2-5 col-sm-4 col-xs-12">
                <div class="single-products">
                    <div class="product-top">
                        <span>Satchel Bag</span>
                        <h3><a href="single-product.html">Lavie Enmesh Women's Handbag (Yellow)</a></h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><span>(20)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/images/shop/11.jpg" alt="">
                        <span>sale</span>
                    </div>
                    <div class="overley">
                        <div class="price">
                            <ul>
                                <li>$48.00 <del>$68.00</del> </li>
                                <li><a href="#"><i class="flaticon-business"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2-5 col-sm-4 col-xs-12">
                <div class="single-products">
                    <div class="product-top">
                        <span>Satchel Bag</span>
                        <h3><a href="single-product.html">Lavie Enmesh Women's Handbag (Yellow)</a></h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><span>(20)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/images/shop/12.jpg" alt="">
                        <span>sale</span>
                    </div>
                    <div class="overley">
                        <div class="price">
                            <ul>
                                <li>$48.00 <del>$68.00</del> </li>
                                <li><a href="#"><i class="flaticon-business"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End section -->